@model _2020Telefon_Rehberi.Models.Departman

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminUI.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Departman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departmanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmanAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
